# Ogre Core Resources
[OgreInternal]
FileSystem=../Media/Main
FileSystem=../Media/RTShaderLib
FileSystem=../Media/Terrain/

# Resources required by OgreBites::Trays
[Essential]
Zip=../Media/packs/SdkTrays.zip
Zip=../Media/packs/profiler.zip


