[General]
# Zip=
# FileSystem=
FileSystem=ext/ogre/Media/Main
FileSystem=ext/ogre/Media/RTShaderLib
FileSystem=ext/ogre/Media/RTShaderLib/GLSL
FileSystem=materials
FileSystem=fonts
FileSystem=meshes
FileSystem=particles
FileSystem=shaders
FileSystem=shaders/programs
